<!--<nav  class="navbar navbar-default" style="background-color: #51aef3;">-->

  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="navbar-header">Assystem_DTS</div>

    <div class="end navbar-nav">
    <div class="signin "*ngIf="!isSignedin">
      <a routerLink="/signin" class="nav-link">Signin</a>
    </div>
    <div class="end navbar-nav">
      <a routerLink="/signup" class="nav-link">Singnup</a>
    </div>
    </div>
    <div *ngIf="isSignedin">
        <ul>
          <li><a routerLink="/products" class="nav-link">List</a>
            /
          <a routerLink="/add" class="nav-link">Add</a></li>
        </ul>
        <ul>
        <p>Welcome back, {{ signedinUser }}!</p>

        <div *ngFor="let greet of greeting">
          {{greet}}
        </div>
        <p><a style="text-decoration: underline; cursor: pointer;" (click)="doSignout()">Signout</a></p>
        </ul>
    </div>
</nav>
<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


